{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Coach &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Playfair+Display:400,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" id="home-section">


  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar js-sticky-header site-navbar-target" role="banner" >

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">Coach<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li class="has-children">
                  <a href="#about-section" class="nav-link">About</a>
                  <ul class="dropdown">
                    <li><a href="#training-section" class="nav-link">Our Training</a></li>
                    <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
                    <li><a href="#gallery-section" class="nav-link">Gallery</a></li>
                    <li><a href="#blog-section" class="nav-link">Blog</a></li>
                    <li class="has-children">
                      <a href="#">More Links</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li><a href="#training-section" class="nav-link">Our Training</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>


    <section class="site-blocks-cover overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 align-self-center">

            <div class="row">
              <div class="col-lg-11">

                <h1>We are <span class="typed-words"></span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum modiblanditiis error. <a href="#">Contact us</a></p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12" style="margin-top: -7%;">
            <div class="slide-one-item home-slider owl-carousel">
              <img src="{% static 'images/coach_hero_1.jpg' %}" alt="Free Website Template by Free-Templat.co" class="img-fluid img">
              <img src="{% static 'images/coach_hero_2.jpg' %}" alt="Free Website Template by Free-Templat.co" class="img-fluid img">
              <img src="{% static 'images/coach_hero_3.jpg' %}" alt="Free Website Template by Free-Templat.co" class="img-fluid img">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="about-section">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="text-black">Hey there, I'm John The Founder</h2>
          </div>
          <div class="col-md-6 mb-5">
            <p>Placeholder text here. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p class="mt-5"><img src="{% static 'images/signature.jpg' %}" alt="Free website template by Free-Template.co" class="img-fluid w-25"></p>
          </div>
          <div class="col-md-5 ml-auto">
            <h2 class="text-black mb-4 h6">Upcmoing Speaking Gigs</h2>
            <ul class="list-unstyled">
              <li class="mb-4">
                <h3 class="text-black m-0">Build Conference</h3>
                <span class="text-muted">Bristol, UK, 7th June 2019</span>
              </li>
              <li class="mb-4">
                <h3 class="text-black m-0">The Life Conference</h3>
                <span class="text-muted">London, UK, 19th September 2019</span>
              </li>
              <li class="mb-4">
                <h3 class="text-black m-0">Build Conference</h3>
                <span class="text-muted">Bristol, UK, 7th June 2019</span>
              </li>
              <li class="mb-4">
                <h3 class="text-black m-0">The Life Conference</h3>
                <span class="text-muted">London, UK, 19th September 2019</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 text-left">
            <img src="{% static 'images/person_1.jpg' %}" alt="Free Website Template by Free-Template.co" class="rounded-circle img-fluid w-50 mb-4">
            <h3 class="h4 text-black">Jean</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </p>
          </div>
          <div class="col-lg-3 text-left">
            <img src="{% static 'images/person_2.jpg' %}" alt="Free Website Template by Free-Template.co" class="rounded-circle img-fluid w-50 mb-4">
            <h3 class="h4 text-black">Rob</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </p>

          </div>
          <div class="col-lg-3 text-left">
            <img src="{% static 'images/person_3.jpg' %}" alt="Free Website Template by Free-Template.co" class="rounded-circle img-fluid w-50 mb-4">
            <h3 class="h4 text-black">Parker</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </p>
          </div>
          <div class="col-lg-3 text-left">
            <img src="{% static 'images/person_4.jpg' %}" alt="Free Website Template by Free-Template.co" class="rounded-circle img-fluid w-50 mb-4">
            <h3 class="h4 text-black">Kyle</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section bg-light" id="training-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="text-black">Our Training</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          </div>
        </div>

        <div class="nonloop-block-13 owl-style owl-carousel">
          <div class="training">
            <figure class="mb-4"><img src="{% static 'images/coach_1_sm.jpg' %}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Life Coach Training</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img src="{% static 'images/coach_2_sm.jpg' %}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Release Your Potential</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img src="{% static 'images/coach_3_sm.jpg' %}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Transforming Lives</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img src="{% static 'images/coach_1_sm.jpg' %}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Life Coach Training</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img src="{% static 'images/coach_2_sm.jpg' %}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Release Your Potential</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="training">
            <figure class="mb-4"><img src="{% static 'images/coach_3_sm.jpg' %}" alt="Free website template by Free-Template.co" class="img-fluid"></figure>
            <h3 class="text-black mb-3">Transforming Lives</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>

      </div>
    </section>



    <section class="site-section" id="services-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="text-black">Our Services</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          </div>
        </div>

        <div class="nonloop-block-13 owl-style owl-style-md owl-carousel">
          <div class="service">
            <div class="icon"><span class="flaticon-badge display-1 text-primary"></span></div>
            <h3 class="text-black mb-3">Life Coach Training</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="service">
            <div class="icon"><span class="flaticon-target display-1 text-primary"></span></div>
            <h3 class="text-black mb-3">Release Your Potential</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="service">
            <div class="icon"><span class="flaticon-agreement display-1 text-primary"></span></div>
            <h3 class="text-black mb-3">Transforming Lives</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="service">
            <div class="icon"><span class="flaticon-line-chart display-1 text-primary"></span></div>
            <h3 class="text-black mb-3">Life Coach Training</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="service">

            <div class="icon"><span class="flaticon-target-1 display-1 text-primary"></span></div>
            <h3 class="text-black mb-3">Release Your Potential</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>

          <div class="service">
            <div class="icon"><span class="flaticon-bar-chart display-1 text-primary"></span></div>
            <h3 class="text-black mb-3">Transforming Lives</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>

      </div>
    </section>

    <section class="site-section" id="gallery-section">
      <div class="container-fluid">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="text-black">Gallery</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          </div>
        </div>

        <div class="row">

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_1_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_2_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_3_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_1_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_2_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_3_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_1_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_2_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_3_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_1_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_2_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="#" data-fancybox="gal"><img src="{% static 'images/coach_3_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid"></a>

        </div>
      </div>
    </section>


    <section class="site-section" id="testimonials-section" data-aos="fade">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center mb-5">
            <h2 class="text-black mb-2">Happy Customers</h2>
          </div>
        </div>
        <div  data-aos="fade-up" data-aos-delay="200">
          <div class="owl-carousel owl-style owl-carousel-one no-owl-nav">
            <div>
              <div class="block-testimony-1 text-center">

                <blockquote class="mb-4">
                  <p>&ldquo;The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 text-black">Ricky Fisher</h3>
              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">



                <blockquote class="mb-4">
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Ken Davis</h3>


              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">


                <blockquote class="mb-4">
                  <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 text-black">Mellisa Griffin</h3>


              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">


                <blockquote class="mb-4">
                  <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Robert Steward</h3>


              </div>
            </div>


          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="blog-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center mb-5">

            <h2 class="text-black mb-2">Our Blog</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="{% static 'images/coach_1_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Unleash Your Potential With These 5 Tips</a></h3>
                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="{% static 'images/coach_2_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Unleash Your Potential With These 5 Tips</a></h3>
                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="{% static 'images/coach_3_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Unleash Your Potential With These 5 Tips</a></h3>
                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="{% static 'images/coach_2_sm.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Unleash Your Potential With These 5 Tips</a></h3>
                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2 class="text-black">Contact Us</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="mb-4 mb-lg-0 col-md-6 col-lg-4">
            <p class="mb-0 font-weight-bold">Address</p>
            <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA
          </div>
          <div class="mb-4 mb-lg-0 col-md-6 col-lg-4">
            <p class="mb-0 font-weight-bold">Phone</p>
            <p class="mb-4"><a href="#">+1 232 3235 324</a></p>
          </div>
          <div class="mb-4 mb-lg-0 col-md-6 col-lg-4">
            <p class="mb-0 font-weight-bold">Email Address</p>
            <p class="mb-0"><a href="#">youremail@domain.com</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mb-5">
            <form action="#" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email address">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-2 px-5" value="Send Message">
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>



    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 class="footer-heading mb-4">About Us</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          </div>


          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#about-section" class="smoothscroll">About Us</a></li>
              <li><a href="#training-section" class="smoothscroll">Our Training</a></li>
              <li><a href="#services-section" class="smoothscroll">Services</a></li>
              <li><a href="#testimonials-section" class="smoothscroll">Testimonials</a></li>
              <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <div class="mb-5">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>

            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>

          </div>
        </div>

        <div class="row pt-5 mt-5 text-left">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>

            </div>
          </div>

        </div>

      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

  <script src="{% static 'js/typed.js' %}"></script>
            <script>
            var typed = new Typed('.typed-words', {
            strings: ["Motivational Speakers","Professional Speakers","Business Speakers", "Professional Life Coach"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
            </script>

  <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>